.mat-card {
    color: #ffffff;
    text-align: center;
  }
  
  .mat-card-title {
    width: 180px;
  }
  
  .mat-raised-button {
    color: #ffffff;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #000000; // Changes the colour that is otherwise applied when autofill is used
// The next two rules change the background colour that is otherwise applied when autofill is used. 
// There is no -webkit-background-color property so box-shadow is used instead which achieves the same result
  box-shadow:#000000; // A standard box shadow must be set before setting a webkit-box-shadow
  -webkit-box-shadow: 0 0 0px 1000px #424242 inset;   
} 

.validation {
  color:  #ff00dd;
} 