<div class="movies-container">
<!-- The ngFor directive is used to loop through the movies array in the component. A mat-card is then rendered for each movie -->
    <mat-card *ngFor="let favourite of favourites">
        <mat-card-header>
            <!-- The ngStyle directive has been used to change the font size for one movie with a long title that was affecting the layout -->
            <mat-card-title [ngStyle]="{'font-size.px': fontSizer(favourite.Title)}">{{favourite.Title}}
            </mat-card-title>
            <mat-card-subtitle>Directed by: {{favourite.Director.Name}}</mat-card-subtitle>
        </mat-card-header>
        <img src={{favourite.ImagePath}} alt={{favourite.Title}} />
        <mat-card-actions>
            <!-- Event binding invokes the functions to open the dialogs when buttons are clicked. Data inside the dialogs passed in as parameters to the functions -->
            <button mat-button (click)="openSynopsisDialog(favourite.Description)" color="accent">Synopsis</button>
            <button id="director" mat-button
                (click)="openDirectorDialog(favourite.Director.Name, favourite.Director.Bio, favourite.Director.Birthday, favourite.Director.Death)"
                color="accent">Director</button>
            <button mat-button (click)="openGenreDialog(favourite.Genre.Name, favourite.Genre.Description)"
                color="accent">Genre</button>
            <!-- Event binding used to invoke the function to delete a movie from favourites when the icon button is clicked. The movie id and title are passed as the arguments -->   
            <button mat-icon-button (click)="deleteFavouriteMovie(favourite._id, favourite.Title)" color="warn"
                aria-label="icon button with a heart icon">
                <mat-icon>favorite</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</div>