.profile-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding: 100px;
  }
  
  .mat-card {
    width: 240px;
    // To position the card in same place as first row of movie cards
    margin: 20px; 
    // To use a height consistent with the movie cards
    height: 325px; 
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    padding-right: 0px;
    color: #ff8800;
  }
  
  // This improves the appearance of the component on the page, making it look similar to the dialogs that include forms
  .card-border {
    background-color: #424242;
    width: 300px;
    height: 400px;
    // Ensures the card-border moves with the mat-card when the screen size changes
    position: absolute;
    top: -20px;
    left: -20px;
    // The border needs to sit underneath the card so that it does not obscure the content
    z-index: -1;
  }

  .mat-card-header {
    //display: flex;
    justify-content: center;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  
  .mat-card-title {
    color: #ff5100;
    font-size: x-large;
    font-weight: 500;
  }

  .mat-icon {
    // Allows us to position the icon in the top right corner
    position: absolute;
    top: 15px;
    right: 15px;
    color: #1a67a2;
  }

  .content-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 170px;
    margin-left: 10px;
    text-shadow: 0 0 2px rgb(0, 0, 0);
  }
  
  
  span {
    color: #ffffff;
    font-weight: bold;
  }

  .mat-card-actions {
    display: flex;
    justify-content: space-evenly;
  }
  
  .mat-raised-button {
    color: #6a6a6a;
  } 